.waw__guides {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.waw__guides-searchbar-div {
  display: flex;
  /* color: white; */
  padding: 0.5rem;
  /* width: 25vh; */
}

.waw__guides-searchbar-div button,
.waw__guides-searchbar-div input {
  background-color: #263143;
  border: 1px solid #b8b8b8;
  color: #60efff;
  font-family: var(--font-family);
}

.waw__guides-searchbar-div input {
  padding: 0.2rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  /* padding: 0.3rem 2rem 0rem 0rem; */
  text-indent: 10px;
  width: 40vh;
  font-size: 17px;
}

.waw__guides-searchbar-div button {
  padding: 0.3rem;
  width: 11vh;
  font-size: 18px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.waw__guides-searchbar-div button:hover {
  cursor: pointer;
}

.waw__guides-mainguide-div {
  display: flex;
  flex-direction: row;
  /* background-color: lightgrey; */
  max-width: 1000px;
  flex-wrap: wrap;
  padding: 0rem 1rem 1rem 1rem;
  /* width: 73%; */
  align-items: center;
  align-content: center;
  justify-content: center;
}

.waw__guide {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.9rem;
  margin: 1rem;
  border: 1px solid transparent;
  /* background-color: rgba(8,60,62,1); */
  width: 200px;
  background-color: #263143;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  /* box-shadow: 0px 0px 8px 2px #60efff; */
  justify-content: center;
}

.waw__guide:hover {
  transform: scale(104%);
  cursor: pointer;
}

.waw__guides-image-div {
  display: flex;
  justify-content: center;
}

.waw__guides-image-div img {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  border-radius: 20px;
}

/* .waw__guides-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 10rem;
} */

.waw__guides-details-div {
  /* display: flex;
  flex-direction: column;
  text-align: center; */
  padding: 0.3rem 0.5rem 0.5rem 0.5rem;
}

.waw__guides-details-div h3 {
  text-align: center;
  line-height: 25px;
  color: #60efff;
  font-weight: 300;
  letter-spacing: 0.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* max-width: 9rem; */
}

.waw__guides-details-div p {
  color: #c3d1db;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.waw__guides-details-div a {
  color: #60efff;
  text-decoration: none;
  font-weight: 400;
}

@media screen and (max-width: 950px) {
  .waw__guides-searchbar-div input {
    width: 30vh;
  }
}

@media screen and (max-width: 760px) {
  .waw__guides-searchbar-div input {
    width: 25vh;
    padding: 0.2rem;
  }
}

@media screen and (max-width: 500px) {
  .waw__guides-searchbar-div input {
    width: 20vh;
    padding: 0.2rem;
  }

  .waw__guides-mainguide-div {
    padding: 0.5rem 0rem 1rem 0rem;
  }

  .waw__guide {
    width: 150px;
  }

  .waw__guides-details-div h3 {
    font-size: 17px;
  }

  .waw__guides-details-div p {
    font-size: 14px;
  }

  .waw__guides-details-div a {
    font-size: 14px;
  }
}

@media screen and (max-width: 415px) {
  .waw__guides-details-div h3 {
    font-size: 15px;
  }

  .waw__guides-searchbar-div input {
    width: 20vh;
    padding: 0.2rem;
    font-size: 15px;
  }

  .waw__guides-searchbar-div button {
    /* width: 20vh; */
    padding: 0.2rem;
    font-size: 15px;
  }
}

@media screen and (max-width: 370px) {
  .waw__guides-image-div img {
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 20px;
  }

  .waw__guide {
    width: 130px;
    padding: 0.5rem 0rem 0rem 0rem;
    margin: 0.4rem;
  }

  .waw__guides-details-div div a,
  .waw__guides-details-div div p {
    font-size: 10px;
  }

  .waw__guides-details-div h3 {
    font-size: 13px;
  }
}