.waw__navigation-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;
  background: var(--lighter-color-bg);
  background-color: #1a2332;
}

.waw__navigation-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.waw__navigation-links-container {
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
}

#home-p {
  margin-left: 5rem;
}

.waw__navigation-links-container a {
  padding: 1rem 0.2rem;
}

.waw__navigation-links-container a:hover {
  cursor: pointer;
}

.waw__navigation-menu-links-container a:hover {
  cursor: pointer;
}

.waw__navigation-links-container p {
  padding: 1rem 0.2rem;
  text-align: center;
  border-bottom: 2px solid #1a2332;
}

.active-nav-link {
  border-bottom: 2px solid white;
}

.waw__navigation-links-container p:hover {
  border-bottom: 2px solid white;
}

.waw__navigation-links-logo {
  /* margin-right: 1rem; */
  /* min-width: 30%;  */
}

.waw__navigation-links-logo img {
  /* width: 66px;
    height: 20px; */
  width: 55px;
}

.waw__navigation-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.waw__navigation-links-container p,
.waw__navigation-sign p {
  color: white;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
}

.waw__navgiation-sign p:hover {
  cursor: pointer;
}

.waw__navigation-sign button,
.waw__navigation-menu-container button {
  padding: 0.5rem 1rem;
  color: black;
  font-weight: 600;
  background-color: #60efff;
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  border: 1px solid black;
}

.waw__navigation-sign p:hover {
  cursor: pointer;
}

.waw__signupbutton:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  border: 1px solid white;
}

.waw__navigation-menu-container-links-sign p:hover {
  cursor: pointer;
}

.waw__navigation-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

/* .waw__navigation-menu ham_menu:hover {
    cursor: pointer;
} */

.ham-menu:hover {
  cursor: pointer;
}

.ham-menu {
  margin-left: 1rem;
}

.waw__navigation-menu-container {
  z-index: 9;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  color: white;
  text-align: end;
  background-color: #263143;
  padding: 1rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin: 3rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 black;
  border: 1px solid white;
}

.waw__navigation-menu-container p {
  margin: 1rem 0;
}

.waw__navigation-menu-container p {
  color: white;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 1rem 1rem;
}

.waw__navigation-menu-container-links-sign {
  display: none;
}

.waw__navigation-menu-links-container {
  color: white;
}

@media screen and (max-width: 1050px) {
  .waw__navigation-links-container {
    /* display: none; */
    margin-left: 1rem;
  }

  .waw__navigation-menu {
    display: flex;
  }

  .waw__navigation-links-logo img {
    min-width: 20%;
  }
}

@media screen and (max-width: 920px) {
  .waw__navigation-links-container {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .waw__navigation {
    padding: 2rem 4rem;
  }

  .waw__navigation-links-logo img {
    min-width: 20%;
  }
}

@media screen and (max-width: 550px) {
  .waw__navigation-div {
    padding: 1rem 4rem;
  }

  .waw__navigation-links-logo img {
    width: 60px;
  }

  .waw__navigation {
    padding: 2rem;
  }

  .waw__navigation-sign {
    display: none;
  }

  .ham-menu {
    margin-left: 99%;
  }

  .waw__navigation-menu-container {
    top: 20px;
  }

  .waw__navigation-menu-container-links-sign {
    display: block;
  }
}

@media screen and (max-width: 405px) {
  .waw__navigation-div {
    padding: 1rem 3.5rem 0.8rem 2rem;
  }

  .waw__navigation-links-logo img {
    width: 50px;
  }
}