@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --font-family: "Manrope", sans-serif;

    --gradient-text: linear-gradient(153deg, rgba(10, 2, 88, 1) 0%, rgba(164, 173, 181, 1) 0%, rgba(255, 255, 255, 1) 100%);
    --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
    /*  background: linear-gradient(90deg, rgba(3, 0, 6, 1) 0%, rgba(56, 25, 54, 1) 0%, rgba(9, 107, 120, 0.83) 100%); */

    --color-bg: linear-gradient(153deg, rgba(10, 2, 88, 1) 0%, rgba(41, 54, 66, 1) 0%, rgba(2, 10, 10, 1) 100%);
    --color-footer: #1a2332;
    --color-text: #b8b8b8;
    /* --color-subtext: #FF8A71; */
}