.waw__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.waw__header-content {
  flex: 1;
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  flex-direction: column;
  /* margin-right: 1rem; */
  margin-left: 2.5rem;
  padding: 4rem 1rem 3rem 6rem;
  max-width: 48rem;
}

.waw__header-content h1 {
  font-family: var(--font-family);
  font-weight: 720;
  line-height: 70px;
  font-size: 52px;
  margin-top: 7%;
  padding-bottom: 1rem;
  align-self: center;
  text-align: center;
}

.waw__header-content p {
  /* align-self: center; */
  /* margin-top: 5%; */
  font-family: var(--font-family);
  font-size: 17px;
  line-height: 27px;
  margin-top: 3rem;
  padding: 1rem;
}

.waw__header-subtext-p {
  align-self: center;
  text-align: center;
  color: #c3d1db;
}

.waw__header-content button {
  font-family: var(--font-family);
  align-self: center;
}

.waw__header_subtext {
  color: #c3d1db;
}

.waw__header-button-p-viewguides {
  color: black;
  font-weight: 600;
  background-color: #60efff;
  padding: 0.9rem;
  width: 10rem;
  border-radius: 3px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 15px;
}

.waw__header-button-p-viewguides:hover {
  background-color: #263143;
  color: white;
  /* border: 1px solid white; */
  cursor: pointer;
}

.waw__header-button-p-homelab {
  color: black;
  /* background-color: #384b59; */
  background-color: #60efff;
  font-weight: 600;
  padding: 0.9rem;
  width: 13rem;
  border-radius: 3px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 15px;
}

.waw__header-button-p-homelab:hover {
  background-color: #263143;
  color: white;
  /* border: 1px solid white; */
  cursor: pointer;
}

.waw__header-image {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 5rem 0rem 0rem;
  width: 30rem;
}

.waw__header-image img {
  /* width: 80%;
    height: 75%; */
  width: 38rem;
  height: 38rem;
  /* height: 80%; */
  padding: 0rem;
  margin: 0rem 0rem 0rem 3rem;
  /* min-height: 80%; */
}

@media screen and (max-width: 1050px) {
  .waw__header {
    flex-direction: column;
  }

  .waw__header-content h1 {
    font-size: 40;
    text-align: center;
    align-self: center;
  }

  .waw__header-content {
    /* margin: 0rem 2rem 2rem 0rem; */
    margin-left: 0rem;
    padding: 1rem 5rem;
  }

  .waw__header_subtext {
    text-align: center;
  }

  .waw__header-image img {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .waw__header-content h1 {
    font-size: 40px;
  }

  .waw__header-content {
    padding: 0rem 3rem;
    /* text-align: center;
    justify-content: center; */
  }

  .waw__header-content button {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .waw__header-content h1 {
    flex-direction: column;
    font-size: 29px;
    line-height: 50px;
    text-align: center;
    align-self: center;
    padding: 0rem;
  }

  .waw__header-content p {}

  .waw__header p {
    font-size: 15px;
    line-height: 23px;
  }

  .waw__header-content {
    padding: 0.5rem 2rem;
  }

  .waw__header-image {
    padding: 1rem 0 0 0;
  }

  .waw__header-content button {
    align-self: center;
  }
}