.waw__footer {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;
}

.waw__footer-header-div {
    display: flex;
    /* align-items: center;
    align-content: center; */
}

.waw__footer-header{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 80px;
    text-transform: capitalize;
    margin: 4rem 4rem;
    color: white;

}

.waw__footer-content {
  display: flex;
}

.waw__footer-content div{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 8rem;
}
.waw__footer-content p{
    padding: 1rem;
    border-top: 1px solid #c3d1db;
    color: #c3d1db;
}

@media screen and (max-width: 1100px) {
    .waw__footer-header{
        font-size: 35px;
        line-height: 50px;
        margin: 4rem 4rem;
        text-align: center;
    }
  
   
  }
@media screen and (max-width: 1030px) {
    .waw__footer-content div{
        margin: 1.5rem 3.4rem;
    }

    .waw__footer-header{
        font-size: 28px;
    }
  }

 

@media screen and (max-width: 635px){
    .waw__footer-content {
        flex-direction: column;
    }
    .waw__footer-header{
        font-size: 20px;
    }
}

